@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";


@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";



@layer base {
  * {
    transition: all 0.3s ease;
    font-family: poppins, sans-serif;
  }
}


body{
  overflow-x: hidden;
}

@keyframes drawLine {
  0% {
    stroke-dasharray: 1500;
    stroke-dashoffset: 1500;
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  100% {
    stroke-dashoffset: 0;
    opacity: 1;
  }
}

.animate-draw {
  stroke-dasharray: 1500;
  stroke-dashoffset: 1500;
  animation: drawLine 2s ease forwards infinite;
}

@keyframes pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}


.font-bebas {
  font-family: var(--font-bebas), sans-serif;
}


.font-poppins {
  font-family: var(--font-poppins), sans-serif;
}

.heart-pop {
  animation: pop 0.3s ease;
}





.description-content ul {
  list-style-type: disc;
  padding-left: 1.5rem;
}

.description-content ol {
  list-style-type: decimal;
  padding-left: 1.5rem;
}

.description-content li {
  margin-bottom: 0.25rem;
}






.category-swiper .swiper-wrapper {
  transition-timing-function: linear !important;
}




.jodit-wysiwyg ul {
  list-style: disc;
  padding-left: 20px;
}

.jodit-wysiwyg ol {
  list-style: decimal;
  padding-left: 20px;
}

.jodit-wysiwyg ul ul {
  list-style: circle;
}

.jodit-wysiwyg ul ul ul {
  list-style: square;
}


.jodit-content {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

.jodit-content ul {
  list-style-type: disc;
  /* or circle, square */
  margin-left: 20px;
  padding-left: 20px;
}

.jodit-content ol {
  list-style-type: decimal;
  margin-left: 20px;
  padding-left: 20px;
}

.jodit-content li {
  margin: 5px 0;
}
